.radioLabel {
  cursor: pointer !important;
  border-radius: 0.8rem;
  border: 1px solid black;
  padding: 0.2rem 0.3rem;
}

.radioLabel:hover {
  border: 1px solid rgb(0, 89, 255);
  background-color: rgb(13, 110, 253) !important;
  color: white;
}

input[type="radio"] {
  display: none;
}
