* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.row {
    gap: 16px;
}
  
.column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-bottom: 52px;
}
  
.column > h4 {
    flex-grow: 1;
}
  
.pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  