* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.row {
    gap: 16px;
}
  
.column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-bottom: 52px;
}
  
.column > h4 {
    flex-grow: 1;
}
  
.pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favouritesBtn{
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;      
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    min-width: 40px !important;

}

.favouritesBtn {
    fill: #0d6efd !important;
}

.favouritesSvg:hover,
.favouriteSvg:hover, .favouritesBtn:hover{
    fill: white !important;
}
  
.optionLabel{
    cursor: pointer !important;
}

/* @media screen and (min-width: 321px) and (max-width: 768px) {

} */

