.introContainer{
    width: 100vw !important;
    background-color: transparent !important;
}

.cardPresentation{
    background-color: transparent !important;
    border: 0 !important;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}