.backgroundLayout {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(244, 244, 244) !important;   
    background-image: linear-gradient(180deg, rgb(244, 244, 244),rgb(244, 244, 244), #e6e6e6,#e6e6e6, #e6e6e6,#e6e6e6, #e6e6e6,#e6e6e6,#e6e6e6,#e6e6e6, #e6e6e6) !important;
}

.storeIntro {
    width: 100% !important;
    max-width: 95vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem 2rem 1rem !important;   
}

.educationStoreImg {
    max-width: 80%;
    height: auto;
    cursor: pointer;
}

.aboutIntro {
    width: 100% !important; 
    margin: 3rem 0rem 0rem 0rem !important;
    display: flex;
    justify-content: space-between;
    padding: 5rem 4rem 4rem 5rem;
}

.colourText{
    color: #08827c;
}

.classicText{
    color: #6e6e73;
}

.shoppingHelp, .shoppingStore{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    /* background-color: rgba(0, 255, 255, 0.247); */
}

.leftIntro, .rightIntro{
    display: flex;
    flex-direction: column;
    text-align: left !important;
    /* background-color: rgba(33, 67, 67, 0.247); */
}

.rightIntro{
    gap: 1rem;
}

.textContainer{
    width: 10rem;
}

/* .rightIntro{
    text-align: right !important;
} */

/* storeCarouselSwiperList Section------------------------------- */
.storeCarouselSwiperList{
    /* width: 100%; */
    /* padding-left: 9rem; */
}

/* New class for no padding */
.noPadding {
    padding-left: 0;
}

/* Advanced tools store*/
.bestClassStore{
    width: 100%;
    padding-left: 9rem;
}

.bestClassStore > h2{
    /* background-color: rgba(37, 78, 78, 0.057); */
    text-align: left;
}

/* .bestClassContainer{

    max-width: 95vw !important;
    width: 100% !important;

    margin: 0rem !important;
}

.bestClassRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
} */

/* educationStore */
.educationStore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 1rem 0rem 3.9rem 0rem; */
    padding: 2rem 4rem 4rem 7.3rem;
    max-width: 95vw !important;
    width: 100% !important;
    margin: 0 !important;
}

.educationStore > h2{
    /* background-color: rgba(37, 78, 78, 0.057); */
    text-align: left;

    /* text-align: left;
    padding: 0rem 4rem 0rem 5rem;
    border: 1px solid red; */
}

  
.educationContainer {
    /* border: 1px solid peru; */
    /* background-color: rgba(205, 134, 63, 0.548); */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* gap: 2rem; */
    /* max-width: 95vw !important; */
    /* padding: 0rem 15rem 0rem 7rem !important; */
    /* margin: 0rem !important; */
}
  
.rightContainer {
    /* background-color: #3f0882; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 1.5rem; */
    justify-content: space-between;
}

.leftContainer {
    padding: 0rem 0.75rem 0rem 0rem !important;
    /* background-color: #08827c; */
}


/* media */
@media screen and (min-width: 1440px) {
    .storeCarouselSwiperList {
        padding-bottom: 4rem !important;
    }

    .educationStoreImg {
        max-width: 30% !important; 
    }

    .colourText, .grayText{
        text-wrap: nowrap !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .storeCarouselSwiperList {
        padding-left: 8.6rem;
        padding-bottom: 3rem !important;
    }

    .noPadding {
        padding-left: 0;
    }

    .educationStoreImg {
        max-width: 45% !important; 
    }

    .colourText, .grayText{
        text-wrap: nowrap !important;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .storeCarouselSwiperList {

        padding-left: 6rem;
        padding-bottom: 2rem !important;
    }

    .noPadding {
        padding-left: 0;
    }
    
    .educationStoreImg {
        max-width: 60% !important;
    }

    .aboutIntro{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 5rem 2.5rem 1.4rem 2.5rem !important;
    }


    .shoppingHelp, .shoppingStore{
        display: flex;
        justify-content: flex-start !important;
        padding: 0rem !important;
        
    }

    .colourText, .grayText{
        text-wrap: nowrap !important;
        overflow: hidden;
    }

    .bestClassStore{
        padding-left: 6rem;
    }
}


@media screen and (min-width: 421px) and (max-width: 768px) {
    .educationStoreImg {
        margin-top: 0.6rem !important;
        max-width: 70% !important; /* Reduce size on larger screens */
    }
    .storeCarouselSwiperList {
        padding-left: 2.4rem;
        padding-bottom: 1.6rem !important;
    }

    .noPadding {
        padding-left: 0;
    } 
    
    .bestClassStore{
        padding-left: 2.4rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    /* .educationStoreImg {
        margin-top: 0.6rem !important;
        max-width: 70% !important; 
    } */

    .storeIntro{
        padding-bottom: 1.2rem !important;
    }

    .aboutIntro{
        padding: 0.8rem 0.8rem 0rem 0rem !important;
    }

    /* .storeCarouselSwiperList{
        padding-left: 3rem !important;
    } */

    .leftIntro{
        padding: 0rem !important;
    }

    .classicText{
        display: flex !important;
        flex-direction: column !important;
        text-align: left !important;
        /* padding: 0rem 0.2rem !important; */
    }

    .colourText, .grayText{
        font-size: 26px !important;
    }

    .rightIntro{
        display: none !important;
    }

    .bestClassStore{
        padding-left: 2.4rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 420px) {
    .storeCarouselSwiperList {
        padding-left: 2rem;
        padding-bottom: 1rem !important;
    }

    .noPadding {
        padding-left: 0;
    }
}

@media (max-width: 320px) {
    .storeCarouselSwiperList {
        padding-left: 2rem;
    }

    .bestClassStore{
        padding-left: 2rem;
    }
    
    .aboutBestClassStore{
        display: flex;
        flex-direction: column;
    }

    .noPadding {
        padding-left: 0;
    }

    .storeIntro{
        padding-bottom: 1rem !important;
    }
    .educationStoreImg {
        max-width: 90% !important;
    }

    .aboutIntro{
        padding: 0.2rem !important;
    }
}

/* @media screen and (min-width: 1440px) {
    .educationStoreImg {
        max-width: 30% !important; 
    }

    .colourText, .grayText{
        text-wrap: nowrap !important;
    }
} */

/* @media screen and (min-width: 1024px) and (max-width: 1440px){
    .educationStoreImg {
        max-width: 45% !important; 
    }

    .colourText, .grayText{
        text-wrap: nowrap !important;
    }
} */

/* @media screen and (min-width: 768px) and (max-width: 1024px){
    .educationStoreImg {
        max-width: 60% !important;
    }

    .aboutIntro{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 5rem 2.5rem 1.4rem 2.5rem !important;
    }


    .shoppingHelp, .shoppingStore{
        display: flex;
        justify-content: flex-start !important;
        padding: 0rem !important;
        
    }

    .colourText, .grayText{
        text-wrap: nowrap !important;
        overflow: hidden;
    }
} */



/* @media (max-width: 320px){
    .storeIntro{
        padding-bottom: 1rem !important;
    }
    .educationStoreImg {
        max-width: 90% !important;
    }

    .aboutIntro{
        padding: 0.2rem !important;
    }
} */
