*{
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.learnMoreBtn{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border-radius: 980px !important;
    /* border: 1px solid white !important; */
    font-weight: 400 !important;
    font-size: 17px !important;
    padding: 11px 21px !important;
    line-height: 20px !important;
    letter-spacing: -0.374px !important;
    min-width: 28px !important;
    /* background-color: white !important;
    color: black !important; */

    /* background-color: transparent !important;
    border-bottom-right-radius: 980px !important;
    border-bottom-left-radius: 980px !important;
    border-top-left-radius: 980px !important;
    border-top-right-radius: 980px !important;
    padding: 11px 21px !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    line-height: 20px !important;
    min-width: 28px !important;
    letter-spacing: -0.374px !important;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    position: relative !important;
    top: -10px !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid white !important; */
}
  
/* .learnMoreBlueBtn {
    background-color: red !important;
    color: black !important;
    border: 1px solid green;
} */