*{
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.ModalBtn{
    border-radius: 980px !important;
    /* font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border-radius: 980px !important;
    border: 1px solid rgb(0, 102, 204) !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    padding: 11px 21px !important;
    line-height: 20px !important;
    letter-spacing: -0.374px !important;
    min-width: 28px !important; */
    /* margin: 0 0 0 13px !important; */
}