*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardContainer {
    position: relative;
    border: none !important;
    border-radius: 0 !important;
    width: 100%;  
    min-width: 17rem !important;
    max-width: 100%; 
    margin: 0 auto;
    overflow: hidden;
}
  
.backgroundImage, .backgroundVideo {
    width: 100%;
    object-fit: contain;
    display: block;
}

.cardBody {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    
    background: rgba(0, 0, 0, 0.09);
    padding-top: 2.6rem !important;
    box-sizing: border-box;
}
  
.cardTitle > h3 > b{
    font-size: 2.8rem !important;
    font-weight: 600 !important;
    letter-spacing: -0.096px !important;
}
  
.cardText > p, .firstText > p, .secondText > p{
    font-size: 1.4rem !important;
    font-weight: 400 !important;
    letter-spacing: 0.2px !important;
    margin-top: 0.3 !important;
}
  
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem !important;
    padding-top: 1rem !important;
}

.whiteText .cardTitle,
.whiteText .firstText{
  color: white !important;
}

.firstText p {
    margin-bottom: -1.2rem !important;
}

.secondText p {
    margin-bottom: 0.2rem !important;
}

@media screen and (min-width: 768px) and (max-width: 1030px){
    .cardContainer{
        height: 31rem !important;
    }

    .backgroundImage{
        height: 31rem !important;
        object-fit: cover !important;
    }

    .cardBody {
        padding: 2.6rem 1.5rem 1rem 1.5rem !important;
    }
  
    .cardTitle > h3{
      font-size: 2rem !important;
    }
  
    h3, p, .firstText{
        margin-bottom: 0rem !important; 
    }
  
    .secondText {
        margin-bottom: 0.6rem !important; 
    }
  
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cardContainer{
        height: 31rem !important;
    }

    .backgroundImage{
        height: 31rem !important;
        object-fit: cover !important;
    }

    .cardBody {
        padding: 1.6rem 1.5rem 1rem 1.5rem !important;
    }
  
    .cardTitle > h3 > b{
      font-size: 1.8rem !important;
    }
  
    .firstText > p, .secondText > p{
        font-size: 1.2rem !important;
    }
  
    .firstText p{
        margin-bottom: -0.8rem !important;
    }
  
}

@media (max-width: 320px) {
    .cardContainer{
        height: 31rem !important;
    }

    .backgroundImage{
        height: 31rem !important;
        object-fit: cover !important;
    }

    .cardBody {
        padding: 1.6rem 1.5rem 1rem 1.5rem !important;
    }
  
    .cardTitle, .cardText{
        margin-bottom: 0rem !important;
    }

    .cardTitle > h3 > b{
      font-size: 1.4rem !important;
    }
  
    .secondText > p, .firstText > p{
        font-size: 1rem !important;
    }
  
}