*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.largeCardContainder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
    margin-bottom: 1.2rem;
    /* background-color: rgba(22, 22, 23, 0.694); */
}

.gridContainer{
    /* background-color: rgba(22, 22, 23, 0.694); */
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
    display: grid;
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;
    /* padding: 0 !important; */
    /* grid-column: ; */
}

/* .learnMoreBtn{
    font-weight: 400 !important;
    letter-spacing: -0.374px !important;
    line-height: 20px !important;
    margin-top: 18px !important;
    padding: 11px 21px !important;
    border-bottom-right-radius: 980px !important;
    border-bottom-left-radius: 980px !important;
    border-top-left-radius: 980px !important;
    border-top-right-radius: 980px !important;
    font-size: 17px !important;
} */



/* .banner {
    padding: 0px !important;
    background-color: rgba(127, 255, 212, 0.171);
    height: 75vh;
}

.bannerRow{
  
    height: 100%;
 
    margin: 0px !important;
    padding: 0;
}

.bannerCol{
    padding: 0 !important;
}

.child{
    width: 100%;
    border-radius: 0%;
    border: 0px !important;
} */