* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    /* background-image: linear-gradient(180deg, #F5F5F7 20%, #E6E6E6 95%) !important; */

}

.storeIntro {
    width: 100% !important;
    max-width: 95vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F5F5F7 !important; */
    /* background: linear-gradient(180deg, #ffffff, #f8f8f8); */
    /* background-blend-mode: overlay; */
    /* padding: 1rem 0rem 3.9rem 0rem; */
    padding: 1rem 2rem 3.9rem 2rem;   
    /* padding: 2rem 4rem 4rem 7.3rem; */
    /* opacity: 0.1; */
    /* background-image: linear-gradient(180deg, #F5F5F7 70%, #E6E6E6 80%) !important; */
    /* background-image: linear-gradient(180deg, #F5F5F7 0%, #F5F6FA 70%) !important; */
    /* background-image: linear-gradient(180deg, #F5F5F7 20%, #E6E6E6 95%) !important; */

}

.containerIntro {
    width: 100% !important; /* Force full width */
    display: flex;
    /* max-width: none !important;  */
    /* Remove any max-width constraint */
    max-width: 95vw !important;
    flex-direction: column;
    padding: 0rem 0rem 2rem 0rem !important; 
    margin: 0 !important; 
    gap: 2rem; 
}

.rowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* background-color: rgba(0, 255, 255, 0.249); */
}

.imageCol{
    display: flex !important;
    justify-content: center !important;
}

.imgFluid {
    max-width: 100% !important;
    height: auto !important;
    width: auto !important; 
}

.aboutIntro {
    width: 100% !important; 
    margin: 0 !important;
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    padding: 5rem 4rem 4rem 5rem;
    gap: 20rem; /* Adjust the gap as needed */
}

.leftIntro{
    /* padding: 0rem !important; */
    text-align: left;
}

.colourText{
    color: #08827c;
}

.classicText{
    color: #6e6e73;
}

.rightIntro{
    /* padding: 0rem !important; */
    text-align: right;
}

/* Advanced tools store*/
.bestClassStore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    /* padding: 5rem 4rem 4rem 7.3rem; */
    padding: 2rem 0rem 4rem 7.3rem;

    /* background-color: rgba(48, 81, 213, 0.639); */
    max-width: 95vw !important;
    width: 100% !important;
    margin: 0 !important;
}

.bestClassStore > h2{
    /* background-color: rgba(37, 78, 78, 0.057); */
    text-align: left;
}

.bestClassContainer{
    /* background-color: rgba(205, 134, 63, 0.548); */
    max-width: 95vw !important;
    width: 100% !important;

    margin: 0rem !important;
}

.bestClassRow{
    /* background-color: #3f088247; */
    display: flex;
    justify-content: space-between;
    padding: 0rem;
}

/* educationStore */
.educationStore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 1rem 0rem 3.9rem 0rem; */
    padding: 2rem 4rem 4rem 7.3rem;
    max-width: 95vw !important;
    width: 100% !important;
    margin: 0 !important;
}

.educationStore > h2{
    /* background-color: rgba(37, 78, 78, 0.057); */
    text-align: left;

    /* text-align: left;
    padding: 0rem 4rem 0rem 5rem;
    border: 1px solid red; */
}

  
.educationContainer {
    /* border: 1px solid peru; */
    /* background-color: rgba(205, 134, 63, 0.548); */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* gap: 2rem; */
    /* max-width: 95vw !important; */
    /* padding: 0rem 15rem 0rem 7rem !important; */
    margin: 0rem !important;
}
  
.rightContainer {
    /* background-color: #3f0882; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 1.5rem; */
    justify-content: space-between;
}

.leftContainer {
    padding: 0rem 0.75rem 0rem 0rem !important;
    /* background-color: #08827c; */
}















/* .rightContainer .row {
    margin-bottom: 24px;
} */

/* .rowContainer{
    margin: 0px;
}

.firstRow{
    margin-bottom: 0.5rem !important;
}

.secondRow{
    margin-top: 0.5rem !important;
    margin-bottom: 0rem !important;
} */

/* @media (min-width: 768px) {
    .educationContainer {
      flex-direction: row;
      align-items: stretch;
    }
  
    .leftContainer {
      flex: 1;
    }
  
    .rightContainer {
      flex: 2;
    }
  
    .firstRow,
    .secondRow {
      margin-bottom: 10px;
    }
}  */


@media (max-width: 320px) {
    /* .img-fluid {
        width: 100%;
        height: auto;
    } */


    .classicText {
        font-size: 1.2rem;
        /* color: red; */
    }
}

