* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.frontCard{
    position: relative !important;
    overflow: hidden !important;
    padding: 0.5rem !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border-radius: 1.12rem !important;
    cursor: pointer !important;
}

.figureStyle{
    margin-bottom: 0rem !important;
}

.backgroundImage{
    margin-bottom: 0rem !important;
}

.titleCard{
    position: absolute !important;
    text-align: left;
    padding: 2.8rem 4rem 8rem 2rem;
    font-size: 1.8rem;
    font-weight: 400;
}
