.smallCard{
    position: relative !important;
    overflow: hidden !important;
    padding: 1.5rem !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border-radius: 1.12rem !important;
    cursor: pointer !important;
    /* width: 20rem !important; */
}

.figureStyle{
    margin-bottom: 0rem !important;
    /* padding: 2rem; */
    /* object-fit: cover !important; */
    /* width: 100%; */
    /* position: absolute !important; */
}

.backgroundImage{
    margin-bottom: 0rem !important;
}

.titleCard{
    position: absolute !important;
    text-align: left;
    padding: 1.5rem 10rem 7rem 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    
    /* width: 90% !important; */
    /* left: 1.25rem !important; */
    /* padding: 0.6rem !important; */
    /* font-size: 10px; */
}
