* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    
}

.smallCard{
    overflow: hidden;
    /* padding: 0.09rem; */
    /* display: flex; */
    /* flex-direction: row; */
    /* padding: 0.5rem; */
    /* height: 100%; */
    /* width: 100%;  */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
