.swiperContainer {
    width: 100vw !important;
}
  
.swiper {
    width: 100%;
    max-width: 1300px;
}
  
.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 14%;
  transform: translateY(-50%);
  z-index: 10;
  color: rgba(0, 0, 0);
  background-color: #f4f4f4 !important;
  cursor: pointer;
  font-size: 0rem;
  height: 10%;
  width: 2.6rem;
  border: none !important;
}

.swiperButtonPrev {
    display: none;
    padding-right: 1rem;
    left: -1px;
    border-right: 1px solid black !important;
}

.swiperButtonNext {
    padding-left: 1rem;
    right: -1px;
    border-left: 1px solid black !important;
}


