.swiperContainer {
    position: relative !important;
}
  
.swiper {
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative  !important; 
}
  
.swiperSlide {
    width: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 15px !important;
}
  
.swiperButtonNext {
    color: var(--dark);
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%);
    width: 44px;
    height: 100%;
    background-size: 27px 44px;
    background-position: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    border: none;
    border-left: 1px solid var(--dark);
    outline: none;
    background-color: var(--light);
}
  