.swiperContainer {
  /* border: 1px solid red !important; */
    position: relative !important;
    overflow: hidden !important;
    width: 100% !important;
}
  
.swiper {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative  !important; 
    overflow: visible !important;
}
  
.swiperSlide {
    width: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 10px !important;
    flex-shrink: 0 !important;
}
  
.swiperButtonNext {
    color: var(--dark);
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%);
    width: 44px;
    height: 100%;
    background-size: 27px 44px;
    background-position: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    border: none;
    border-left: 1px solid var(--dark);
    outline: none;
    background-color: var(--light);
}
  
@media (max-width: 700px) {
  .swiperSlide {
    margin: 0 5px !important;
  }
}

/* Add styles for smaller screens */
/* @media screen and (min-width: 400px) and (max-width: 750px) {
  .swiperContainer {
    background-color: blue !important;
    width: 100% !important;
    overflow: hidden  !important;
  }
  .swiper {
    background-color: pink !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
  .swiperSlide {
    background-color: green !important;
    width: 30% !important;
    margin: 0 !important;

  }
} */
    /* width: auto !important; */