*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerBlack {
    /* display: flex; */

    background-color: rgba(29, 29, 31, .8);
    width: 100%;
}

.headerWhite {
    /* display: flex; */

    background-color:rgba(167, 167, 167, 0.959);
    width: 100%;
}

/* .color{
    color: white;
    
} */


.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.navItem{
    padding: 0.4rem;

}

.navLink{
    color: #E8E8ED;
   

}

.navLink:hover{
    color: #FFFFFF;
}