.footer {
    background-color: rgb(245, 245, 247) !important;
    padding: 1.3rem 0 !important;
    display: flex;

    justify-content: center !important;
    align-items: center !important;
    padding: 1.3rem 0 !important;
    width: 100% !important;
  }
  

  .footer h6 {
    margin-bottom: 0.6rem;
  }
  
  .footer ul {
    padding: 0;
    list-style-type: none;
  }
  
  .footer ul li {
    margin-bottom: 0.6rem;
  }
  
  .footer ul li a {
    color: rgba(0, 0, 0, 0.56);
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  .footer ul li a:hover {
    text-decoration: underline;
  }
  
  .footer .text-center {
    text-align: center;
  }

p {
  padding: 0 1rem !important;
}