*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* Header.module.css */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    width: 100% !important;
    z-index: 10 !important;
    /* margin: 0px 238px 0px 238px !important; */
    height: 50px !important;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px !important; */
}
  
.navContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    letter-spacing: -.01em !important;
    line-height: 1 !important;
}
  
.navLink {
    margin: 0 10px;

}

.logoImage{
    width: 14px;
    height: 14px;
}

.logoSvg, .cartSvg, .signInDarkSvg, .favouritesDarkSvg{
    fill:rgba(255, 255, 255, 0.55) !important;
}

/* for dark nav */
.logoSvg:hover, 
.cartSvg:hover,
.signInDarkSvg:hover,
.favouritesDarkSvg:hover{
    fill:rgba(255, 255, 255, 0.765) !important;
}

/* for color light nav */
.cartLightSvg,.signInLightSvg, .favouritesSvg{
    fill:rgba(0, 0, 0, 0.562) !important;
}

.cartLightSvg:hover,
.signInLightSvg:hover,
.favouritesSvg:hover{
    fill:rgba(0, 0, 0, 0.65) !important;
}



/* .favouritesSvg .heart-path {
    fill: rgba(255, 255, 255, 0.195) !important;
  
}

.favouritesSvg:hover .heart-path {
    fill: rgba(0, 0, 0, 0.65) !important;
} */