.navbar{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 10000 !important;
    height: 50px !important; 
}

.basicNav{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.navLink, .navLogo{
    margin: 0 0.4rem !important;
    padding: 0 0.62rem !important;
    cursor: pointer !important;
}

.navLink, .navUser{
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.navUser{
    margin: 0rem 0rem 0.2rem 0rem !important; 
}

.iconSpan{
    text-align: start !important;
    margin: 0rem 0rem 0.2rem 0.2rem !important; 
}

.iconNavLarge{
    font-size: 22px !important;
}

.iconNav{
    font-size: 14px !important;
}

.burgerBtn{
    background: transparent !important;
    border: none !important;
    padding: 0rem !important;
    margin: 0px 7px !important;
}

.collapsedContainer {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important; 
    z-index: 1001 !important;
    height: 100vh !important;
    overflow-y: hidden !important;
}

.collapsedNav {
    font-size: 1.4rem !important;
    margin: 2.2rem 0rem 0rem 2rem !important;
}

.no-scroll {
    overflow: hidden !important;
    position: fixed !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    top: 0 !important;
    left: 0 !important;
}

.collapse {
    transition: none !important;
}
