*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.LayoutBlackContainer, .LayoutWhiteContainer{
    display: flex;
    flex-direction: column;
    
}

.LayoutBlackContainer{
    background-color: rgb(255, 255, 255) !important;
    
}

.LayoutWhiteContainer{
    background-color: rgba(128, 128, 128, 0.26);   
}