*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.LayoutBlackContainer, .LayoutWhiteContainer{
    display: flex;
    flex-direction: column;
    
}

.LayoutBlackContainer{
    background-color: rgba(0, 0, 0, 0.694);
    
}

.LayoutWhiteContainer{
    background-color: gray;   
}