.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}


.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiperButtonPrev {
  left: 10px;
}

.swiperButtonNext {
  right: 10px;
}

@media (max-width: 768px) {
  .swiperButtonPrev,
  .swiperButtonNext {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .swiperButtonPrev,
  .swiperButtonNext {
    width: 25px;
    height: 25px;
  }
}
