.bagItemContainer {
 padding: 1rem !important;
 border-bottom: 1px solid gray !important;
}

/* .bagItemContainer img {
  width: 50%;
} */

.rowContainer {
  /* display: flex !important; */
  align-items: flex-start !important;
  /* justify-content: space-between !important; */
  width: 100% !important;
  padding: 1rem !important;
  margin: 0 !important;
}

.counterCol {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.itemDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

.counterBtn {
  border-radius: 50% !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
  /* font-size: 1.2rem !important; */
  margin: 0 0.6rem !important;
  padding: 0 !important;
}

.textInformation{
  font-size: 1.6rem !important;
}

.name {
  font-size: 1rem;
}