*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.pageContainer{
    margin-top: 2rem !important;
    padding: 3rem !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

/* .pageTitle{
    display: flex !important;
    justify-content: space-between !important;
} */