.group {
  position: relative;
  margin: 28px 0;
}

.group input {
  text-indent: 6px;
  padding-top: 16px;

}

.formInput {
  background-color: white;
  color: gray;
  font-size: 18px;
  padding: 14px 10px 10px 8px;
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
  caret-color: #4285f4;
}

.formInput:focus {
  font-size: 20px;
  outline: none;
  border: 2px solid #4285f4;
  caret-color: auto;
}

.formInput:focus ~ .formInputLabel {
  padding-top: 4px;
  top: 4px;
  font-size: 12px;
  color: black;
  font-weight: 500;
}

.passwordInput {
  composes: formInput;
  letter-spacing: 0.3em;
}

.formInputLabel {
  color: gray;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 16px;
  transition: 300ms ease all;
}

.shrink {
  padding-top: 5px;
  top: 4px;
  font-size: 10px;
  color: black;
}





