.signUpFormContainer{
    display: flex !important;
    flex-direction: column  !important;
    padding: 2rem !important;
}

.heading, .headingDescription{
    text-align: left !important;
}

.heading{
    margin: 1rem 0 0.4rem 0 !important;
    text-wrap: nowrap !important;
}
