.productCardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem !important;
    overflow: hidden;
    min-height: 300px   !important;
    padding: 1.6rem !important;
    height: 100% !important; 
}

.productCardContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.imageCard{
    width: 100% !important;
    height: 200px !important;
    object-fit: contain !important;
}

/* card information */
.infoContainer{
    width: 100% !important;
    display: flex !important;  
    align-items: center !important;
    justify-content: space-between !important;
}

.cardTitle{
    inline-size: 260px !important;
    overflow-wrap: break-word;
    margin-bottom: 1.6rem !important;
    font-size: 1.8rem !important;
    margin-right: auto !important;
    padding: 0rem 0.2rem !important;
    text-align: left !important;
}

.svgContainer{
    margin-left: auto !important; 
}

.footer {
    margin: 2.6rem 0 0 0 !important;
    width: 100% !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center ;
    justify-content: space-between !important;
    gap: 1.6rem;
}

.price{
    padding: 0rem 0.2rem !important;
    font-size: 0.7rem !important;
    text-align: left !important;
}


.visibleText {
    padding: 0rem 0.2rem !important;
    margin: 0 !important;
    font-size: 0.8rem !important;
    color:  #b64400 !important;
    font-weight: bold !important;
    visibility: visible !important;
}

.hiddenText {
    padding: 0rem 0.2rem !important;
    color: maroon !important;
    font-weight: bold !important;
    visibility: hidden !important; 
}
