.swiper {
    position: relative !important;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    z-index: 1 !important;
  }
  
  .swiperButtonNext,
  .swiperButtonPrev {
    z-index: 10 !important;
  }